colorama==0.4.6
datasets==4.8.4
easyocr==1.7.2
fastapi==0.136.1
huggingface_hub==0.36.2
immutabledict==4.3.1
matplotlib==3.10.9
megfile==5.0.10
modelscope==1.36.2
numpy==2.4.4
openai==2.32.0
opencv_python==4.13.0.92
paddleocr==3.5.0
pandas==3.0.2
Pillow==12.2.0
plotly==6.7.0
pydantic==2.13.3
rapidfuzz==3.14.5
Requests==2.33.1
rich==15.0.0
scikit_learn==1.2.2
seaborn==0.13.2
supervision==0.27.0.post2
tabulate==0.10.0
torch==2.11.0
torchvision==0.26.0
tqdm==4.67.3
transformers==4.50.0
uipro==0.0.1
ultralytics==8.4.41
uvicorn==0.46.0
vllm==0.20.0
